{{#each this}}
<li class="card-item favorite-item" id={{_id}} 
data-favorite-item='data-favorite-item'
data-item='data-item'
data-userId={{userId}}>
    <div class="img-container">
        <img src={{imageUrls.[0]}} alt={{description}} />
        <button type="button" class="favorite" 
        data-favorite-button-marked='data-favorite-button-marked'
        data-marked='true'
        data-favorite-button='data-favorite-button'>
            <svg width="16px" height="16px" class="favorite-icon-marked">
                <use href="./symbol-defs.svg#icon-heart"></use>
            </svg>
        </button>
        <button type="button" class="full-screen">
            <svg width="11px" height="11px" class="full-screen-icon">
                <use href="./symbol-defs.svg#icon-full-screen"></use>
            </svg>
        </button>
    </div>
    <p class="product-title">{{title}}</p>
    <p><span class="old-price final-price"> {{price}} грн</span></p>
</li>
{{/each}}